# Application
MPP_APP_ENV=dev
MPP_INGESTION_BATCH_SIZE=10
MPP_SOURCE_MARKETPLACE=1688
MPP_TARGET_MARKETPLACE=ozon

# Ozon Seller API
MPP_OZON_SELLER_CLIENT_ID=
MPP_OZON_SELLER_API_KEY=
MPP_OZON_SELLER_BASE_URL=https://api-seller.ozon.ru
MPP_OZON_VERIFY_SSL=true
MPP_OZON_REQUEST_TIMEOUT_SEC=30

# TMAPI 1688
MPP_TMAPI_TOKEN=
MPP_TMAPI_BASE_URL=https://api.tmapi.top
MPP_TMAPI_TIMEOUT_SEC=30
MPP_TMAPI_VERIFY_SSL=true
MPP_TMAPI_MODE=top_sales
MPP_TMAPI_CAT_IDS=6,7,15,18,96,130822220,1813
MPP_TMAPI_CATEGORY_PAGES=1
MPP_TMAPI_TOP_LIMIT=10
MPP_TMAPI_SHOP_URL=
MPP_TMAPI_MEMBER_ID=
